
$default-font-color: #AFB1B6;
$default-background: #2B303B;
$darker-background: #303641;
$active-font-color: #D4D5D8;
$active-background: #008b66;
$bright-font-color: white;
$logo-font-family: 'Cinzel', serif;
$default-font-family: 'Raleway', sans-serif;
$script-font-family: 'Dancing Script', cursive;

* {
  box-sizing: border-box;
}

body {
  height: 100vh;

  .navbar-item {
    transition: transform .5s ease;
  }

  .navbar-item:hover {
      border-left: 3px solid #34806b;
      transform: scale(1.4);
    }


  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #373a47;
  }

  /* General sidebar styles */
  .bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  #main {
    height: 100%;
    position: absolute;
    margin: auto;
    text-align: center;
    font-family: $default-font-family;



    img {
      max-width: 100%;
      height: auto;
    }

    section {
      box-sizing: border-box;
      position: relative;
      width: 100vw;
      overflow: hidden;
    }

    #carousel {
      height: 100vh;
      display: flex;
      justify-content: center;
    }

    #carousel .carousel-image {
      position: absolute;
      display: block;
      margin: auto;
      min-width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 2s linear;
    }

    #carousel .carousel-image.hidden {
      opacity: 0;
    }

    #carousel-text {
      padding: 30px;
      color: $bright-font-color;
      z-index: 4;
      position: absolute;
      top: 30vh;

      h1 {
        font-family: $logo-font-family;
      }

      h2 {
        font-family: $script-font-family;
      }
  }

  // .campus {
  //   position: relative;
  //   text-align: center;
  //   padding: 40px;
  // }

  // .centered {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   font-size: 8em;
  //   color: white;
  //   font-family: $script-font-family;
  //   text-shadow: 2px 2px 4px #000000;
  // }

  // #plus {
  //   font-size: 5em;
  //   position: fixed;
  //   bottom: 0px;
  //   right: 20px;
  //   z-index: 4;
  //   color: $default-background;
  //   text-shadow: 5px 5px 8px #000000;
  //   transition: all .3s ease;

  //   &:hover {
  //     color: $darker-background;
  //     transform: translateY(1px);
  //     text-shadow: 0 5px 15px rgba(0,0,0,0.3);
  //   }
  // }

  // .pageHeading {
  //   padding-top: 20px;
  // }
}
}
